$c-default: #4496d2;
$c-default-o: rgba(68, 150, 210, 0.5);
$c-secondary: #4496d2;
$c-octonary: #387bad;
$c-opacity-2: rgba(68, 150, 210, 0.66);
$c-78: #4496d2;
$c-35: #4496d2;
$c-44: #4496d2;
$c-34: #4496d2;
$c-s-57: #4496d2;
$c-36: #387bad;
$c-59: #387bad;
$c-67: #387bad;
$c-68: #4496d2;
$c-73: #4496d2;
$c-77: #387bad;
$c-a-40: #387bad;
$c-a-41: #387bad;
$c-a-42: #4496d2;
$c-a-44: #4496d2;
$c-a-45: #387bad;
$c-a-44: #4496d2;
$c-a-45: #387bad;
$c-a-52: #387bad;
$c-74: #387bad;
$c-72: #387bad;
$c-s-66: #387bad;
$c-d-7: #387bad;
$c-cp-1: #4496d2;
$c-s-68: #4496d2;
$c-d-9: #c8e7ff;
$c-d-10: #4496d2;
$c-d-11: #4496d2;
$c-d-12: #387bad;
$c-d-14: #387bad;
$c-d-21: #4496d2;
$c-d-22: #4496d2;
@import "../all.scss";