$c-default: #5ba2c4;
$c-default-o: rgba(91, 162, 196, 0.5);
$c-secondary: #5ba2c4;
$c-octonary: #4b85a1;
$c-opacity-2: rgba(91, 162, 196, 0.66);
$c-78: #5ba2c4;
$c-35: #5ba2c4;
$c-44: #5ba2c4;
$c-34: #5ba2c4;
$c-s-57: #5ba2c4;
$c-36: #4b85a1;
$c-59: #4b85a1;
$c-67: #4b85a1;
$c-68: #5ba2c4;
$c-73: #5ba2c4;
$c-77: #4b85a1;
$c-a-40: #4b85a1;
$c-a-41: #4b85a1;
$c-a-42: #5ba2c4;
$c-a-44: #5ba2c4;
$c-a-45: #4b85a1;
$c-a-44: #5ba2c4;
$c-a-45: #4b85a1;
$c-a-52: #4b85a1;
$c-74: #4b85a1;
$c-72: #4b85a1;
$c-s-66: #4b85a1;
$c-d-7: #4b85a1;
$c-cp-1: #5ba2c4;
$c-s-68: #5ba2c4;
$c-d-9: #e1eeff;
$c-d-10: #5ba2c4;
$c-d-11: #5ba2c4;
$c-d-12: #4b85a1;
$c-d-14: #4b85a1;
$c-d-21: #5ba2c4;
$c-d-22: #5ba2c4;
@import "../all.scss";