$c-default: #72be58;
$c-default-o: rgba(114, 190, 88, 0.5);
$c-secondary: #72be58;
$c-octonary: #5e9c48;
$c-opacity-2: rgba(114, 190, 88, 0.66);
$c-78: #72be58;
$c-35: #72be58;
$c-44: #72be58;
$c-34: #72be58;
$c-s-57: #72be58;
$c-36: #5e9c48;
$c-59: #5e9c48;
$c-67: #5e9c48;
$c-68: #72be58;
$c-73: #72be58;
$c-77: #5e9c48;
$c-a-40: #5e9c48;
$c-a-41: #5e9c48;
$c-a-42: #72be58;
$c-a-44: #72be58;
$c-a-45: #5e9c48;
$c-a-44: #72be58;
$c-a-45: #5e9c48;
$c-a-52: #5e9c48;
$c-74: #5e9c48;
$c-72: #5e9c48;
$c-s-66: #5e9c48;
$c-d-7: #5e9c48;
$c-cp-1: #72be58;
$c-s-68: #72be58;
$c-d-9: #d3ffc2;
$c-d-10: #72be58;
$c-d-11: #72be58;
$c-d-12: #5e9c48;
$c-d-14: #5e9c48;
$c-d-21: #72be58;
$c-d-22: #72be58;
@import "../all.scss";