$c-default: #f34a53;
$c-default-o: rgba(243, 74, 83, 0.5);
$c-secondary: #f34a53;
$c-octonary: #c83d44;
$c-opacity-2: rgba(243, 74, 83, 0.66);
$c-78: #f34a53;
$c-35: #f34a53;
$c-44: #f34a53;
$c-34: #f34a53;
$c-s-57: #f34a53;
$c-36: #c83d44;
$c-59: #c83d44;
$c-67: #c83d44;
$c-68: #f34a53;
$c-73: #f34a53;
$c-77: #c83d44;
$c-a-40: #c83d44;
$c-a-41: #c83d44;
$c-a-42: #f34a53;
$c-a-44: #f34a53;
$c-a-45: #c83d44;
$c-a-44: #f34a53;
$c-a-45: #c83d44;
$c-a-52: #c83d44;
$c-74: #c83d44;
$c-72: #c83d44;
$c-s-66: #c83d44;
$c-d-7: #c83d44;
$c-cp-1: #f34a53;
$c-s-68: #f34a53;
$c-d-9: #f3cbce;
$c-d-10: #f34a53;
$c-d-11: #f34a53;
$c-d-12: #c83d44;
$c-d-14: #c83d44;
$c-d-21: #f34a53;
$c-d-22: #f34a53;
@import "../all.scss";