$c-default: #dca13a;
$c-default-o: rgba(220, 161, 58, 0.5);
$c-secondary: #dca13a;
$c-octonary: #b48430;
$c-opacity-2: rgba(220, 161, 58, 0.66);
$c-78: #dca13a;
$c-35: #dca13a;
$c-44: #dca13a;
$c-34: #dca13a;
$c-s-57: #dca13a;
$c-36: #b48430;
$c-43: #dca13a;
$c-59: #b48430;
$c-67: #b48430;
$c-68: #dca13a;
$c-73: #dca13a;
$c-77: #b48430;
$c-a-40: #b48430;
$c-a-41: #b48430;
$c-a-42: #dca13a;
$c-a-44: #dca13a;
$c-a-45: #b48430;
$c-a-44: #dca13a;
$c-a-45: #b48430;
$c-a-52: #b48430;
$c-74: #b48430;
$c-72: #b48430;
$c-s-66: #b48430;
$c-d-7: #b48430;
$c-cp-1: #dca13a;
$c-s-68: #dca13a;
$c-d-9: #efe4d0;
$c-d-10: #dca13a;
$c-d-11: #dca13a;
$c-d-12: #b48430;
$c-d-14: #b48430;
$c-d-21: #dca13a;
$c-d-22: #dca13a;
@import "../all.scss";