$c-primary: #666666;
$c-tertiary: #989898;
$c-quaternary: #5f5f5f;
$c-quinary: #616161;
$c-senary: #515151;
$c-septenary: #a5a5a5;
$c-nonary: #b1b1b1;
$c-denary: #dddddd;
$c-white: #fff;
$c-black: #000;
$c-default-link: #898989;
$c-desc: #848484;
$c-11: #747474;
$c-12: #d8d8d8;
$c-13: #333333;
$c-14: #4f4f4f;
$c-15: #949494;
$c-16: #adadad;
$c-17: #f3f3f3;
$c-18: #b9b8b8;
$c-19: #919191;
$c-20: #777777;
$c-21: #dedede;
$c-22: #d9d9d9;
$c-23: #fafafa;
$c-24: #e8e8e8;
$c-25: #e6e6e6;
$c-26: #f6f6f6;
$c-27: #929292;
$c-28: #f1f1f1;
$c-29: #979797;
$c-30: #f4f4f4;
$c-31: #00c6cd;
$c-32: #83b705;
$c-33: #828282;
$c-s-35: #dcdcdc;
$c-s-36: #dbdbdb;
$c-s-37: #8b8b8b;
$c-s-38: #b5b5b5;
$c-s-39: #ebebeb;
$c-s-40: #e0e0e0;
$c-s-41: #7f7e7e;
$c-s-42: #ededed;
$c-s-43: #cdcdcd;
$c-s-45: #e3e3e3;
$c-s-46: #dfdfdf;
$c-s-47: #ececec;
$c-s-48: #f5f5f5;
$c-s-49: #fefefe;
$c-s-50: #313131;
$c-s-51: #464646;
$c-s-52: #1c1c1c;
$c-s-53: #aaa;
$c-s-54: #222;
$c-s-55: #444;
$c-s-56: #555;
$c-s-58: #474747;
$c-s-59: #f7f7f7;
$c-s-60: #c3c4c5;
$c-s-61: #aeafb1;
$c-s-62: #717171;
$c-s-63: #dadada;
$c-s-64: #b3b3b3;
$c-s-65: #d2d2d2;
$c-s-67: #529c11;
$c-s-69: #0ea8bf;
$c-s-70: #f9f9f9;
$c-cp-0: #424242;
$c-cp-2: #f2d674;
$c-cp-10: #efd108;
$c-cp-1: #f27491;
$c-cp-3: #dfdfdf;
$c-cp-4: #cc1212;
$c-cp-5: #62b30c;
$c-cp-6: #1685d3;
$c-cp-7: #a28c0f;
$c-cp-8: #e3921f;
$c-cp-9: #656565;
$c-cp-11: #049ab0;
$c-cp-12: #c4908d;
$c-cp-13: #f40d85;
$c-cp-14: #e00ed9;
$c-cp-15: #875a50;
$c-cp-16: #96b6cb;
$c-opacity-1: rgba(108, 108, 108, 0.7);
$c-opacity-3: rgba(0, 0, 0, 0.5);
$c-37: #f8f8f8;
$c-38: #fbfbfb;
$c-39: #e4e4e4;
$c-40: #959595;
$c-41: #ff391f;
$c-42: #ffd6d1;
$c-43: #f9bdb6;
$c-45: #fff4bb;
$c-46: #ffcc66;
$c-47: #c1faa8;
$c-48: #9cff70;
$c-49: #6db74c;
$c-50: #bceeff;
$c-51: #8ae1ff;
$c-52: #21c2f8;
$c-53: #decfdf;
$c-54: #e2b5e5;
$c-55: #af75b3;
$c-56: #f2f2f2;
$c-57: #323232;
$c-58: #acacac;
$c-60: #2bc2d5;
$c-61: #229baa;
$c-62: #2bcce0;
$c-63: #2ba4b3;
$c-64: #08947d;
$c-65: #00b89a;
$c-66: #42d8bf;
$c-67-const: #d0531b;
$c-68-const: #f4a480;
$c-69: #282f36;
$c-70: #353d46;
$c-71: #3f4851;
$c-73-const: #ffd565;
$c-79: #795801;
$c-76: #565656;
$c-80: #c6c6c6;
$c-a-43: #fff2ec;
$c-a-46: #6d7a83;
$c-a-47: #3b5998;
$c-a-48: #56adee;
$c-a-49: #0182b3;
$cc-a-49: #016287;
$c-a-50: #31497d;
$c-a-51: #468ec3;
$c-a-52-const: #ab2809;
$c-d-1: #e9682e;
$c-d-2: #5ca2c4;
$c-d-3: #f44a53;
$c-d-4: #dca13b;
$c-d-5: #72bf59;
$c-d-6: #4496d2;
$c-d-16-o: rgba(99, 99, 99, .8);
$c-d-17: #c3c3c3;
$c-d-13: rgba(0,0,0,.32);
$c-n-1: #e99b00;
$c-n-3: #ccc;

$c-d-16-o: rgba(99, 99, 99,.8);
$c-n-11: rgba(241, 158, 121, 0.19);
$c-n-2: rgba(149, 66, 29, 0.19);
$c-i-1: rgba(105, 104, 85, 0.6);
$c-i-2: rgba(42, 44, 46, 0.6);

$c-default-const: #e26228 !default;
$c-default-const-hover: #fe996b;
$c-secondary-const: #e9682e !default;
$c-orange-light: #f47d47;
$c-default-txt-hover: #fce4dc;
$c-72-const: #bf130f;
