@import "../mixins.scss";

.b-benefits-container {
  padding: 50px 0 30px 0;
  [class*='col-'] {
    margin: 20px 0 20px;
  }
}

.f-benefits-container,
.f-benefits_title {
  color: $c-white;
}

.b-benefits_title {
  margin-bottom: 50px;
  @media screen and (max-width: $break-medium - 1) {
    margin-bottom: 30px;
  }
  @media screen and (max-width: $break-tablet-p - 1) {
    margin-bottom: 20px;
  }
}

.f-benefits_title {
  @include font(48, 48);
  text-transform: uppercase;
  @media screen and (max-width: $break-medium - 1) {
    @include font(40);
  }
  @media screen and (max-width: $break-tablet-p - 1) {
    @include font(30);
  }
}

.b-benefits_description {
  margin-bottom: 30px;
}

.f-benefits_description {
  @include font(20, 20);
  text-transform: uppercase;
  @media screen and (max-width: $break-medium - 1) {
    @include font(18);
  }
  @media screen and (max-width: $break-tablet-p - 1) {
    @include font(16);
  }
}

/* benefits__item */

.b-benefits__item_icon {
  margin-bottom: 20px;
}

.b-benefits__item_icon_image {
  border-radius: 50%;
  border: 3px solid $c-white;
  width: 156px;
  height: 156px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  img {
    width: 150px;
    height: 150px;
  }
}

.b-benefits__item_icon_image_hover {
  ul {
    display: inline-block;
    margin: 0;
    line-height: 25px;
    font-size: 16px;
  }
  li {
    border-radius: 999px;
    overflow: hidden;
    background-color: $c-white;
    width: 25px;
    height: 25px;

    &:hover {
      background-color: $c-default;
    }
  }
}

.f-benefits__item_icon_image_hover {
  vertical-align: middle;

  li {
    a{
      color: $c-default;
    }

    &:hover {
      a {
        color: $c-white;
      }
    }
  }
}

.f-benefits__item_icon {
  @include font(45, 45);
  color: $c-default;
}

.b-benefits__item_title {
  margin-bottom: 10px;
}

.f-benefits__item_title {
  @include font(16, 20);
  text-transform: uppercase;
}

.f-benefits__item_description {
  @include font(12, 20);
}

/* end benefits__item */